@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing:border-box;
}


html {
  overflow: hidden;
 
  @media (max-width: 768px) {
    overflow-y: scroll;
  }
}

body {
  color: rgb(0,0,0);
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
   @media (min-width: 900px) {
    background-size: 100vw 100vh;
  }
}

.root {
  background-color: #c7c7c770; 
  min-height: 100vh;
  min-width: 100vw;
}
